body {
	padding: 5;
	margin: 0;
	background-color: #F4F0DB;
	font: 14px Tahoma;
}

.panelContent {
	font-size: 14px;
	text-align: center;
	white-space: normal;
	padding: 0 !important;
	margin: 0 !important;
}

.bodyContent {
	margin: 0 auto;
	width: 80%;
	min-width: 180px;
	line-height: 150%;
	text-align: center;
}

.bodyContent h3 {
	padding: 40px;
}

.leftPanel {
	width: 25%;
	max-width: 230px;
	min-width: 80px;
	padding: 0 !important;
	background-color: #F3EAFB !important;
}

.topPanel {
	background-color: #DBF4DE !important;
	padding: 20px !important;
}

.centerPanel {
	background-color: #F4F0DB !important;
	padding: 0 !important;
}

.bottomPanel {
	background-color: #DBEBF4 !important;
	/*padding: 20px !important;*/
}
